<tr>
    <td>#{{number}}&nbsp;</td>
    <td>{{issue_count buildResultSummary.errorCount error}}&nbsp;</td>
    <td>{{issue_count buildResultSummary.warningCount warning}}&nbsp;</td>
    <td>{{issue_count buildResultSummary.analyzerWarningCount analyzerWarning}}&nbsp;</td>
    <td>{{issue_count buildResultSummary.testsCount test}}&nbsp;</td>
    <td>{{issue_count buildResultSummary.testFailureCount testFailure}}&nbsp;</td>
</tr>